#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Archivo de estilos personalizado */
.title {
  animation: fadeInDown 2s ease-out;
  color: white;
  background: linear-gradient(to right, #ffffff, #0077cc);
}

.app-bar {
  background-color: transparent !important; /* Fondo transparente */
  boxShadow: none !important; /* Sin sombra */
}

@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.repo-card {
  margin-top: 20px;
  background-color: #f0f8ff; /* Color de fondo que combine con el azul */
  transition: background-color 0.5s ease;
}

.repo-card:hover {
  background-color: #add8e6; /* Cambia a un tono más claro al pasar el mouse */
}

.repo-size {
  margin-top: 10px;
  animation: slideInDown 0.5s ease-out;
}

.pag-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Ajusta según sea necesario */
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
